* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  --color-BG: rgb(255, 255, 255);
  --color-allElements: rgba(50, 50, 56, 1);
  --color-soundButtonsBG: rgba(225, 225, 230, 1);
  --color-soundButtonBGhover: rgb(200, 0, 255);
  --color-soundButtonSVGonHover: white;
  --color-inputRange-rail: rgba(50, 50, 56, 1);
  --color-inputRange-cursor: rgba(50, 50, 56, 1);

  --size-hourText: 126.166px;
}

body.darkMode {
  --color-BG: rgba(18, 18, 20, 1);
  --color-allElements: rgba(255, 255, 255, 1);
  --color-soundButtonsBG: rgba(41, 41, 46, 1);
  --color-soundButtonSVGonHover: rgba(255, 255, 255, 1);
  --color-inputRange-rail: white;
  --color-inputRange-cursor: white;
}

.sounds .on {
  background: var(--color-soundButtonBGhover);
}

.sounds .on svg path {
  fill: var(--color-soundButtonSVGonHover);
}

.hide {
  display: none;
}

body * {
  color: var(--color-allElements);
}

svg path {
  fill: var(--color-allElements);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: transform 1000ms;
}

body {
  font-size: 1.6rem;
  position: relative;
}
.app {
  background-color: var(--color-BG);
  min-height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
  grid-template-rows: max-content 1fr;
}

header {
  justify-self: self-end;
  align-self: self-start;
  margin: 6rem 6rem 0 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19.2rem;
  align-self: start;
}

.timer {
  display: grid;
  gap: 4.8rem;
}

.clock {
  display: flex;
  font-size: var(--size-hourText);
  line-height: 14.8rem;
}

.controls {
  display: flex;
  gap: 4rem;
  justify-self: center;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.sounds .buttons {
  position: relative;
  display: grid;
}

.sounds button {
  display: grid;
  gap: 3.2rem;

  background-color: var(--color-soundButtonsBG);
  padding: 2.4rem 4.4rem 6.2rem;
  border-radius: 2.4rem;
}

.sounds button svg {
  justify-self: center;
}

input {
  position: absolute;
  bottom: 2rem;

  justify-self: center;
  appearance: none;
  border-radius: 0.5rem;
  background-color: var(--color-inputRange-rail);
  height: 0.4rem;
  width: 70%;
}

input::-webkit-slider-thumb {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-inputRange-cursor);
}

.sounds button:hover,
svg path {
  transition: transform 1000ms, background 1000ms;
  background-color: var(--color-soundButtonBGhover);
}

.sounds button:hover svg path {
  fill: var(--color-soundButtonSVGonHover);
}

@media (max-width: 1080px) {
  main {
    display: grid;
    gap: 2rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  main {
    display: grid;
    gap: 2rem;
  }
  header {
    justify-self: center;
    align-self: center;
    margin: 2rem 0;
  }
}
